<div class="description-container">
    <h1>Description of the webpage</h1>
    <p>
        In this webpage you can navigate between the options shown on top of the page. This is the <strong>Home</strong> page with a small description of the show in which we based our website.
    </p>
    <p> 
        in the <strong><a routerLink="/list">List</a></strong> section you will see the characters of the show giving some aditional information of each one by clicking on the button 'more info'. On top of that you can also filter and search for your favorite character.
    </p>
    <p> 
        In the <strong><a routerLink="/location">Location</a></strong> section you will find also a list but this time is a list of the locations in which the show has been set. You can create new planets edit their names or delete them from the universe, you are the boss.
    </p>
    <p>Also if you get lost dont worry we got you covered ;), there is a <a routerLink="/not-found">not-found</a> warp that will take you to a safe zone called the 404 dimention :D</p>
</div>
