
<input type="text" [(ngModel)]="selectedLocation.name" placeholder="Location name">
<input type="text" [(ngModel)]="selectedLocation.type" placeholder="Location type">
<button (click)="addOrEdit()" >Submit</button>
<button (click)="delete()" *ngIf="selectedLocation.id !== 0">Delete</button>
<div class="location-container">
    <ul *ngFor="let location of locations">
        <li (click)="openToEdit(location)">{{location.name}} type: {{location.type}} id: {{location.id}}</li>
        <button (click)="delete()" *ngIf="selectedLocation.id !== 0">Delete</button>
    </ul>
</div>