<mat-form-field color="accent" appearance="fill">
    <mat-label>search for a name</mat-label>
    <input matInput type="text" [(ngModel)]="filter" />
</mat-form-field>

<div *ngIf="list && list.length > 0" class="card-container">
    <mat-card *ngFor="let character of (list | filterCharacters:filter | paginator: page )">
        <mat-card-content>
            <mat-card-header>
               <mat-card-title> {{character.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-md-image src="{{character.image}}" alt="{{character.name}}">
            <mat-card-actions>
                <button [routerLink]="['/list', character.id]" mat-raised-button>More details</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>
<div class="prev-next-container">
    <button mat-raised-button (click)="prevPage()">Previous</button>
    <button  mat-raised-button (click)="nextPage()">Next</button>
</div>
